.modal-dialog(role='document')
  .modal-content
    form.modal-form(role='form')
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
        h4.modal-title Edit annotation
      .modal-body
        - element.label = element.label || {};
        .form-group
          label(for='h-group-name') Group Name
          input#h-group-name.input-sm.form-control(
            type='text', placeholder='Enter an optional group name for the element', value=element.group)
        .form-group
          label(for='h-element-label') Label
          input#h-element-label.input-sm.form-control(
            type='text', placeholder='Enter an optional label for the element', value=element.label.value)
        .form-group
          label(for='h-element-line-width') Line width
          input#h-element-line-width.input-sm.form-control(
            type='number', min=0, step=0.1, value=element.lineWidth)
        .form-group
          label(for='h-element-line-color') Line color
          .input-group.h-colorpicker
            input#h-element-line-color.input-sm.form-control(
              type='text', value=element.lineColor)
            span.input-group-addon
              i
        .form-group
          label(for='h-element-fill-color') Fill color
          .input-group.h-colorpicker
            input#h-element-fill-color.input-sm.form-control(
              type='text', value=element.fillColor)
            span.input-group-addon
              i
        .g-validation-failed-message.hidden
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Cancel
        button.btn.btn-primary.h-submit(type='submit') Save
