- var timestamp = moment().format('YYYY-MM-DD HH:mm')
- var defaultName = 'Annotation '+ timestamp
.modal-dialog(role='document')
  .modal-content
    form.modal-form(role='form')
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
        h4.modal-title #{title}
      .modal-body
        .form-group
          label(for='h-annotation-name') Name
          input#h-annotation-name.input-sm.form-control(
            type='text', placeholder='Enter a name for the annotation', value=annotation.name || defaultName)
        .form-group
          label(for='h-annotation-description') Description
          textarea#h-annotation-description.form-control.input-sm(
            rows='6', placeholder='Enter an optional description')
            | #{annotation.description}
        if showStyleEditor
          hr
          h4 Reset the style for all elements in this annotation
          .form-group
            label(for='h-annotation-line-width') Line Width
            input#h-annotation-line-width.input-sm.form-control(
              type='number', min=0, step=0.1, value=defaultStyles.lineWidth)
          .form-group
            label(for='h-annotation-line-color') Line color
            .input-group.h-colorpicker
              input#h-annotation-line-color.input-sm.form-control(
                type='text', value=defaultStyles.lineColor)
              span.input-group-addon
                i
          .form-group
            label(for='h-annotation-fill-color') Fill color
            .input-group.h-colorpicker
              input#h-annotation-fill-color.input-sm.form-control(
                type='text', value=defaultStyles.fillColor)
              span.input-group-addon
                i
        .g-validation-failed-message.hidden
      .modal-footer
        if hasAdmin
          button.btn.btn-warning.h-access(type='button') Permissions
        button.btn.btn-default.h-cancel(type='button', data-dismiss='modal') Cancel
        button.btn.btn-primary.h-submit(type='submit') Save
