extends ./panel.jade

block content
  form
    each control in controls
      .form-group.h-control-item(data-type='#{control.type}')
        label.control-label(for='#{control.id}') #{control.title}
        if control.type === 'range'
          input.form-control(
            name='#{control.title}'
            type='text'
            id='#{control.id}'
            data-slider-min='#{control.min || 0}'
            data-slider-max='#{control.max || 1}'
            data-slider-step='#{control.step || 1}'
            data-slider-value='#{control.value || 0}'
            data-type='#{control.type}')
        else if control.type === 'color'
          .input-group
            input.form-control(
              name='#{control.title}'
              type='text'
              id='#{control.id}'
              value='#{control.value || "#000000"}'
              data-type='#{control.type}')
            .input-group-addon
              i
        else if control.type === 'number'
          input.form-control(
            name='#{control.title}'
            type='number'
            id='#{control.id}'
            value='#{control.value}'
            step='#{control.step || 1}'
            min='#{control.min !== undefined ? control.min : false}'
            max='#{control.max !== undefined ? control.max : false}'
            data-type='#{control.type}')
        else if control.type === 'string'
          input.form-control(
            name='#{control.title}'
            type='text'
            id='#{control.id}'
            value='#{control.value || ""}'
            data-type='#{control.type}')
        else if control.type === 'number-vector'
          - control.value = control.value || []
          .form-inline
            each i in [0, 1, 2]
              input.form-control(
                name='#{control.title}'
                type='number'
                id='#{control.id}'
                value='#{control.value[i] || 0}'
                step='#{control.step || 1}'
                min='#{control.min !== undefined ? control.min : false}'
                max='#{control.max !== undefined ? control.max : false}'
                data-type='#{control.type}'
                data-vector-component='#{i}')
        else if control.type === 'string-vector'
          - control.value = control.value || []
          .form-inline
            each i in [0, 1, 2]
              input.form-control(
                name='#{control.title}'
                type='text'
                id='#{control.id}'
                value='#{control.value[i] || ""}'
                data-type='#{control.type}'
                data-vector-component='#{i}')
        else if control.type === 'enumeration'
          select.form-control(
            id='#{control.id}'
            name='#{control.title}'
            data-type='#{control.type}'
            data-numeric=control.numeric)
              each v in control.values
                option(selected=v === control.value) #{v}
