.h-panel-title
  | #{title}
  span
    i(class='icon-up-open',
      data-toggle='collapse',
      data-target='##{id} > .h-panel-content')
    i(class='icon-cancel h-remove-panel',
      data-target='##{id}')
.h-panel-content.collapse.in
