nav.navbar.navbar-default(style=`color: ${brandColor}; background-color: ${bannerColor}`)
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(
          type='button',
          data-toggle='collapse',
          data-target='#h-navbar-collapse',
          aria-expanded='false')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a#h-navbar-brand.navbar-brand(style=`color: ${brandColor}`) #{brandName}

    #h-navbar-collapse.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li.h-image-menu-wrapper.dropdown
        li.h-analyses-wrapper.dropdown
        li.h-current-user-wrapper.dropdown
