if parentChain
  .g-item-breadcrumb-container
    -
      var parts = [];
      parentChain.forEach(function (parent, idx) {
        parts.push(parent.type === 'user' ? parent.object.login : parent.object.name);
      });
      parts.push(image.name());
    ol.breadcrumb(title=parts.join('/'))
      each parent in parentChain
        li
          span.g-item-breadcrumb-link(data-id=parent.object._id, data-type=parent.type)
            if (parent.type === "user")
              i.icon-user
              = parent.object.login
            else if (parent.type === "collection")
              i.icon-sitemap
              = parent.object.name
            else
              = parent.object.name
      li
        span.g-item-breadcrumb-link(data-id=image.id, data-type='item')
          = image.name()
button.btn.btn-default.navbar-btn.h-open-annotated-image(type='button')
  | #[span.icon-list] Annotated images...
button.btn.btn-default.navbar-btn.h-open-image(type='button')
  | #[span.icon-picture] Open image...

-
  var titlePre = '', titleNext = '';
  if (previousImageLink && nextImageLink) {
    titlePre = 'Previous image - ' + previousImageName;
    titleNext ='Next image - ' + nextImageName;
  }

span.h-links
  a.h-previous-image.btn.btn-default(href=previousImageLink, title=titlePre, disabled=!previousImageLink)
    i.icon-left-open
  a.h-next-image.btn.btn-default(href=nextImageLink, title=titleNext, disabled=!nextImageLink)
    i.icon-right-open
