a.h-analyses-dropdown-link(data-toggle='dropdown')
  | #[span.icon-tasks] Analyses #[span.icon-down-open]
ul.h-analyses-dropdown.dropdown-menu(role='menu')
  each image, imageName in analyses
    li.dropdown-submenu
      a(tabindex='0', href='#', data-name=imageName) #{imageName}
      ul.dropdown-menu
        each version, versionName in image
          li.dropdown-submenu
            a(tabindex='0', href='#') #{versionName}
            ul.dropdown-menu
              each cli, cliName in version
                - var api = cli.run.replace(/\/run$/, '');
                li
                  a.h-analysis-item(
                      tabindex='0',
                      href='#',
                      data-api=api,
                      data-image=imageName,
                      data-version=versionName,
                      data-cli=cliName) #{cliName}
